*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
html{
    font-size: 100px;
    background-color: #f1f1f1;
}
body{
    font-size: .13rem;
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
.wrapper {
    position: absolute;
    left: 0;right: 0;
    top: 0;bottom: .49rem;
    background-color: #f8f8f8;
}