/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'iconfont';
    /* Project id 4118095 */
    src: url('//at.alicdn.com/t/c/font_4118095_iu1zbpyfdld.woff2?t=1693126411028') format('woff2'),
        url('//at.alicdn.com/t/c/font_4118095_iu1zbpyfdld.woff?t=1693126411028') format('woff'),
        url('//at.alicdn.com/t/c/font_4118095_iu1zbpyfdld.ttf?t=1693126411028') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}